      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: @user %>

        <%= f.label :name, "ニックネーム" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, "メールアドレス(ID)" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "パスワード再入力" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      <% end %>
        <p>facebookで新規登録→ボタン  色：ブルー</p>
        <p>Twitterで新規登録→ボタン  色：ライトブルー</p>
        <p>Googleで新規登録→ボタン  色：ライトレッド</p>

    </div>
  </div>
