<footer class="footer">
  <small>
以下はfooter
  </small>
  <nav>
    <ul>
      <li><%= link_to "利用ガイド", '#' %></li>
      <li><%= link_to "お問い合わせ", '#' %></li>
      <li><%= link_to "利用規約", '#' %></li>
      <li><%= link_to "プライバシーポリシー", '#' %></li>
      <li><%= link_to "コンテンツ(あとで下に追加、１募集情報、２テニスコート、３メンバーの検索)",   '#' %></li>
    </ul>
  </nav>
</footer>
