<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "テニス仲間募集掲示板", root_path , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップページ",  root_path %></li>
        <li><%= link_to "お問い合わせ",   '#' %></li>
        <% if logged_in? %>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li class="dropdown">  <!-- ドロップダウンのリスト -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= @current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "マイページ編集", 'edit_user_path(current_user)' %></li>
              <li><%= link_to "チームメンバー", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
        <li><%= link_to "新規登録",signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
